<!DOCTYPE html>
<html lang="en">
{% set username = user %}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
<html>
    <head>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
        <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
        <link rel="shortcut icon" href="http://{{ ip }}/static/favicon.ico">
    </head>
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" style="vertical-align: sub;">
        <img style="max-width:3%; max-height:3%;" src="http://{{ ip }}/static/moon cropped.png">
        <a href="/index"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">Index</h1></button></a> 
        <a href="/home"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">Home</h1></button></a> 
        <a href="/test"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">Test</h1></button></a> 
        <a href="/music_database_v2"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">Music DB V.2</h1></button></a> 
        <a href="/mplayer"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">MPlayer</h1></button></a>
        <div class="navbar-right" style="display:inline;">
            <div class="container-fluid">
                <h2 class="navbar-text" style="display:inline;">Signed in as <button type="button" class="btn-default navbar-btn"><a href="/profile" class="navbar-link navbar-default" style="display:inline; color: cyan;"> {{ username }} </a></button></h2>
                <a href="/logout"><button type="button" class="btn btn-default navbar-btn"><h1 style="display:inline;">Log Out</h1></button></a> 
            </div>
        </div>
    </div>
</nav>
<header class="your_persistent_header">
    <nav class="navbar-default navbar-fixed-bottom" style="height: 120px; width:auto;">
        <div class="load-mask"></div>
        <section id="juke-box" style="padding: 10px">
            <img src="http://{{ ip }}/cove/Archie - If You Know.mp3 Cover Art.jpg" style="width: 100px; height: auto; text-align: left;">
            <span style="padding-left:20px; position:relative; bottom:20px; font-size: 20px;">
                Artist Name - Track Title
            <div style="text-align: center; margin-right: 20px;  padding-bottom: 100px;">
                <span id="playback-time">0:00</span>
                <progress max="100" value="50"></progress>
                <script>
                    setInterval(function() => {

                        document.getElementsByTagName('progress')[0].value
                        = document.getElementsByTagName('progress')[0].value + 1
                        if(document.getElementsByTagName('progress')[0].value === 10) {
                            documents.getElementsByTagName('progress'[0].value = 1)
                        }
                                        
                    }, 250);

                </script>
                <span class="persistent_audio_widget" style="text-align: center;">
                    <span class="post"><source src="http://{{ ip }}/muse/Archie - If You Know.mp3">h</span>
                    </span>
                <span id="song-duration">4:54</span>        
            </div>
            </span>
        </section>
    </nav>
</header>
<h1 class="ex1" style="padding-top: 50px;"></h1>
</html>
{% endblock %}