{% extends "external_base.html" %}

<html>
    <head>
        {% if title %}
        <title>{{ title }} - Wonderfell</title>
        {% else %}
        <title>Welcome to Wonderfell!</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        {% block content %}
        <div class="container justify-content-center align-items-center" style="margin: auto;">
            <h1>Welcome to Wonderfell</h1>
        </div>
            <form method="POST" class="container" style="margin-block: auto;">
            <input name="user" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button id ="submit_button" type="submit" class="btn btn-primary">Submit</button>
            <div style="color: red">{{ error }}</div>
        </form>
        <h4> </h4>
        {% endblock %}
    </body>
    <script>
        console.log("Hello World");
        var button = document.getElementById('#submit_button');
        var username = document.getElementById('#user');
        var password = document.getElementById('#pass');
        button.click(function(){
            console.log("Hello World");
            console.log(username,password);

        });
    </script>
</html>